---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Bùi Trung Tín
  </div>
  <div class="inline opacity-75">
    Xây dựng bằng theme
    <a href="https://github.com/manuelernestog/astrofy" target="_blank" class="font-bold">Astrofy ⚡️</a>
    của Manuel Ernesto
  </div>
</footer>
<style></style>
